body {
  background-color: #ECF0F1;
  margin: 0;
  padding-top: 120px;
  width: 100%;
  min-height: 100%;
}

header {
    text-align: center;
    position: absolute;
    top: 0;
    width: 102%;
    background-color: #34495e;
    margin: 0;
    height: 120px;
}

/* This concern all the links in the pages
this way we will avoid to get a color (purple) for links */


A:link {text-decoration: none; color: #ecf0f1;}
A:visited {text-decoration: none; color: #ecf0f1;}
A:hover {text-decoration: none; color: #ecf0f1;}
A:active {text-decoration: none; color: #ecf0f1;}

.main-header {
    color: #ecf0f1;
    font-family: PT Sans;
    font-size: 17px;
    text-align: center;
    margin: 0;
    margin-left: -90px;
    height: 80px;
}
.main-header .nav {
  color: #ecf0f1;
  font-family: PT Sans;
}
.header .links a {
  font-family: PT Sans;
  color: #ecf0f1;
}

footer {
  color: #ecf0f1;
  text-align: left;
  background-color: #2c3e50;
  position: fixed;; bottom: 0; left: 0;
  width: 102% !important;
  font-family: PT Sans;
}
.footer .links a {
    list-style: none;
    font-family: PT Sans;
    color: #95a5a6;
    text-decoration: none;
}
.login {
  color: #ecf0f1;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 102px;
  font-family: PT Sans;
}
/* This part is about the webcam page */


.webcam {
  text-align: center;
  font-family: PT Sans;
  background-color: #bdc3c7;
}

/* This part is about the button "snap it" on the webcam page */

button {
  border-radius: 40px;
  font-family: Pt Sans;
  color: white;
  font-size: 20px;
  padding: 15px 20px 20px 15px;
  background-color: #34495e;
  text-align: center;
  outline: 0;
  border: none;
}

/*This part is about the upload button in the webcam page*/

input {
  border-radius: 40px;
  font-family: Pt Sans;
  color: white;
  font-size: 20px;
  padding: 15px 20px 20px 15px;
  background-color: #34495e;
  text-align: center;
  outline: 0;
  border: none;
  display: inline-block;
  float: none;
  /*width: 200%;*/
}

/*This is about the buttons for the my_account page*/


button.btnaccount {
  border-radius: 40px;
  font-family: Pt Sans;
  color: #2ecc71;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  background-color: #34495e;
  text-align: center;
  outline: 0;
  border: none;
  margin: 25px;
}


button.btncancelaccount {
  border-radius: 40px;
  font-family: Pt Sans;
  color: #e74c3c;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  background-color: #34495e;
  text-align: center;
  outline: 0;
  border: none;
  margin: 25px;
}

/* This part is about the canvas (right picture) and the video (left picture) */


video {
  border: 8px solid;
  color: #ecf0f1;
  border-radius: 10px;
}
canvas {
  border: 8px solid;
  color: #ecf0f1;
  border-radius: 10px;
}

/* This is the part about the icons in the header */


#settings {
  width: 42px;
}

/*this part is about the slideshow in the gallery page*/


img {
  max-width: 300px;
  max-height: 300px;
}
div.img {
    margin: 10px;
    border: 8px solid #bdc3c7;
    width: 200px;
    display: inline-block;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    margin: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    font-family: Pt Sans;
    color: #ecf0f1;
}

div.img:hover {
    -webkit-filter: grayscale(0%);
     filter: grayscale(0%);
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

article {
  text-align: center;
  height: 300px;
  max-width: inherit;
  max-height: inherit;
}

/*This part concern the my_account.php page*/

.myprofile {
  font-family: Pt Sans;
  color: #34495e;
  padding: 10px;
}

label {
  font-family: Pt Sans;
  color: #34495e;
  /*padding: 25px;
  width: 100%;*/
  text-align: center;
}

fieldset {
  text-align: center;
  font-family: Pt Sans;
}
h1 {
  width: 102%;
  color: #34495e;
  text-align: center;
}
